# PostgreSQL DB credentials
POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo

# Odoo superadmin password
ODOO_ADMIN_PASS=YOUR_PASS

# Odoo PostgreSQL connection
ODOO_DB_HOST=db
ODOO_DB_PORT=5432
